{
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 80,
  "semi": false,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "useTabs": false,
  "plugins": ["prettier-plugin-classnames"]
}
