@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #050505;
  --background-secondary: #0f0f10;
  --background-tertiary: #19191a;

  --content-heading: #ffffff;
  --content-body: #cdcbcc;
  --content-headline: #b2b2b2;
  --content-placeholder: #827d7f
  
  --accent-purple: #4B2DBB;
  --accent-blue: #30B9E3;
  --accent-green: #87BB2D;
  --accent-pink: #B5446B;
  --accent-yellow:#DCCB2E;

  --accent-purple-dark: #171031;
  --accent-blue-dark: #102831;
  --accent-green-dark: #222D26;
  --accent-pink-dark: #2C1A22;
  --accent-yellow-dark: #282A0F;

  --border-primary: #19191A;
  --border-secondary: #323234;
  --border-tertiary: #97979B;
}

